.cabecalho {

}

.navegacao {

}

.pesquisa {

}

#campo {

}

.botao {
    background-color: aqua;

}

.menu {

}


/* VITRINE */

.vitrine {
    row-gap: 20px;
}


/* CARD */

.anuncio {
    height: 100%;
}


/* IMAGENS */

.imagem-anuncio {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


/* DETALHES */

.detalhes {
    display: block;
    color: #020202;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;
}

.detalhes:hover {
    text-decoration: underline;
}

.botao-comprar {
    display: block;
    width: 100%;
}


/* RODAPÉ */

.rodape {
    margin-top: 30px;
}